html {
    height: 100%
}

body {
    height: 100%;
    background-color:#f8f9fa;
}

.bg-custom {
    background-color: lightblue;
}

.card {
 background-color: lightblue;
}
.parent-div {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    background-color: #f8f9fa;
}

#hword {
    font-weight: bold;
}

#mainh {
    margin-top: 30px;
    font-weight: bold;
}